  -Welcome kittens1265
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form action="/login" method="post">
    <h2>User Name:<input id="username" type="text" name="username"><br>
    <h2>Password:<input id="password" type="text" name="password"><br>
    <input type="submit" values="Log in">
    </form>
  </body>
</html>



  
